test/example-ide-usage/work/**
# copied from other local directory inside this git repository
test/docker-example-ide/src
test/docker-compose/default/work/**
tmp_env
**/*/.kitchen
**/iderc.txt
releaser
